## [Start] Setting "type" to default value of "blog". **
$util.qr($context.args.input.put("type", $util.defaultIfNull($ctx.args.input.type, "blog")))
## [End] Setting "type" to default value of "blog". **
{}